.sidebar {
    width: 330px;
    position: absolute;
    left: 0;
    top: 48px;
    bottom: 0;
    border-right: 1px solid #bbb;
    padding: 0 15px 0 15px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.sidebar ul {
    list-style: none;
    line-height: 25px;
    font-size: 18px;
    padding: 0;
}

.sidebar a {
    color: #555;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.sidebar a:hover {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}
